<div class="content article">
    <h2>
        Как зарождалась эра Big Data
    </h2>

    <p>80-е годы были радостными, прекрасными и стимулировали развитие экономики. Они подарили нам Майкла Джексона,
        кассетные плееры Sony Walkman, Star Wars, Pac-Man,
        с которых началась эра аналитики. Toyota вовремя запустила своё производство, продавцы, наконец, ввели сканеры
        для считывания штрих-кодов, банковские терминалы обрели
        повсеместную популярность. Мир оцифровался.</p>
    <p>Доступ к информации позволил предприятиям оптимизировать расположение товаров и сервисов, сегментировать клиентов
        и лучше управлять финансовыми делами.
        На протяжении следующих 20 лет в Аналитика 1.0. формировалась и предназначалась для этих целей:</p>
    <img src="img/table1.png">
    <p>Тем не менее, Аналитика 1.0 изначально задумывалась как средство хранения и загрузки информации (например, база
        данных), для составления отчётов, и предназначалась
        для нескольких ключевых пользователей, а именно руководителей высшего звена. Для составления отчётов требовались
        армии консультантов и миллионы долларов.
        Было слишком затратно внедрять аналитическое программное обеспечение в действующие бизнес-направления компании и
        демократизировать информацию.
        Программное обеспечение пока оставалось чем-то из области фантастики.</p>
    <p>Этот рынок укреплялся по мере становления. Business Objects приобрели Crystal Dynamics, которую затем поглотила
        SAP ($6,8 млрд). Затем SAP приобрела Sybase ($1,1 млрд).
        IBM выкупил Cognos ($4,9 млрд), SPSS ($1,2 млрд) и Ascential ($1,1 млрд). Oracle купила Hyperion ($3,3 млрд). И
        так продолжалось дальше, пока не осталась лишь горстка крупных игроков.</p>
    <p>Забегая вперёд в 2007 год, вышел iPhone, Google представила MapReduce, Hadoop стал открытым.
        Время было выбрано самое подходящее: на мир обрушился поток данных, технологии удешевили и упростили процесс
        анализа петабайтов доступной информации</p>
    <p>Зародилась эра «больших данных», или Аналитики 2.0, в которой заново изменилась аналитическая структура. В
        большой степени преобразования выразились в новой волне замены технологий, где аналитическая структура
        оставалось
        той же, но каждый технологический компонент заменился новой, более дешёвой и быстрой версией прежних
        аналогов.</p>
    <img src="img/table2.png">
    <p>Аналитике 2.0 посчастливилось «оседлать» волну консюмеризации IT, мобильных технологий, и радикально снизить
        стоимость инфраструктуры («облачные технологии»).
        Большинство венчурных фондов, которые инвестировали в этот рынок, пришли к созданию платформы следующего
        поколения и позволили развернуться технологиям вроде сервисов распространения
        Hadoop (Cloudera, Hortonworks, MapR) и базам данных типа NoSQL (MongoDB, Cassandra, Couchbase, Neo4J, Greenplum,
        Asterdata, Netezza).</p>
    <p>Раньше на этом рынке мы видели активность M&A, когда крупные поставщики приобретали технологии для того, чтобы
        помочь вывести cуществующие структуры Аналитики 1.0 на новый уровень.
        По мере этого её позиции упрочнялись, а крупные игроки собирались создать свою собственную структуру данных 2.0.
        По той же схеме укреплялись позиции Аналитики 1.0.</p>
    <p>После того как улеглась волна Аналитики 2.0, крупные и известные поставщики обзаводились технологиями, которые
        были в тренде и соответствовали новым структурам.</p>
    <p>Аналитика 3.0. или операционная аналитика, способная считывать информацию и реагировать на события, которые
        влияют на пользователя, машины и девайсы в режиме реального времени.</p>
    <p>В результате эта волна реализовала на всё, чего всегда не доставало аналитике, и восполнила эти пробелы в
        операционной аналитике. Она анализировала данные,
        которые помогали людям и машинам принимать решения в режиме реального времени в соответствующем контексте.</p>
    <p>Сегодня данные содержатся во всём: в телефонах, телевизорах, датчиках мотоциклов, светофорах, а также в
        таблетках, которые мы принимаем. Однако огромный плюс заключается в том, что разрозненные источники информации
        можно синтезировать и соотносить друг с другом,
        чтобы принимать автоматические решения на основе полученных данных.</p>
    <p>Вот один из таких примеров: историю ваших болезней сопоставляют с результатами генетических анализов и
        диагностической таблеткой, которая делает фотографии внутренних органов.
        На основе полученных результатов доктор выписывает вам коктейль лекарств, которые обычно нельзя смешивать с
        другими, но в результате это приносит значительные улучшения в вашу жизнь.
        В число компаний, которые работают в этой области, входят Foundation Medicine, Cellworks и 23andMe.</p>
    <p>Появляются и другие прекрасные примеры. Большинство из них сопоставляют ваши персональные данные, полученные с
        датчиков, из Сети и т.п.,
        с вашим местоположением или с определённым контекстом. Прежде чем вы обратитесь в техподдержку, агент на основе
        ваших данных выдаст вам инструкции (Guavus).
        Вы можете защитить себя от мошеннических сделок в eCommerce (Feedzai).
        Точная сельскохозяственная технология способна наблюдать, измерять и следить за внутрипромысловым и
        междупромысловым разнообразием урожая (AgSmarts, The Climate Corp., Farmeron).</p>
    <p>Следующие пять лет обещают быть интересными для бизнес-аналитики, поскольку автоматический ИИ и действия на
        основе разрозненных данных, наконец, станут обычным делом.</p>
</div>
<div class="comments">
    <h2>Комментарии:</h2>
    <div>
        <ul class="writers_list">
            {{#each list}}

                <li class="comment">
                    <h5 class="users_login"> {{this.login}}</h5>
                    <p class="comment_text"> {{this.text}}</p>
                </li>
                <br>
            {{else}}
                <li>Никто еще не комментировал эту статью</li>
            {{/each}}
        </ul>
    </div>

    {{#if login}}
        <form name="comment" action="/article2" method="POST">
            <p>
                <label>Оставьте свой комментарий:</label>
                <br/>
                <label>
                    <textarea cols="100" name="text" rows="50"></textarea>
                </label>
            </p>
            <p>
                <input class="comment_btn" type="submit" value="Отправить" />
            </p>
        </form>
    {{else}}
        <p><a class="item-link" href="/login">Войдите, чтобы оставить комментарий</a></p>
    {{/if}}
</div>