<div class="content article">
    <h2>
        Большие данные в бизнесе и маркетинге
    </h2>

    <p>Стратегии развития бизнеса, маркетинговые мероприятия, реклама основаны на анализе и работе с имеющимися данными.
        Большие массивы позволяют «перелопатить» гигантские объемы данных и соответственно максимально точно
        скорректировать направление развития бренда, продукта, услуги.</p>
    <p>Например, аукцион RTB в контекстной рекламе работают с big data, что позволяет эффективно рекламировать
        коммерческие предложения выделенной целевой аудитории, а не всем подряд.</p>
    <p>Какие выгоды для бизнеса:</p>
    <ul>
        <li style="list-style-type: circle">Создание проектов, которые с высокой вероятностью станут востребованными у
            пользователей, покупателей.
        </li>
        <li style="list-style-type: circle">Изучение и анализ требований клиентов с существующим сервисом компании. На
            основе выкладки корректируется работа обслуживающего персонала.
        </li>
        <li style="list-style-type: circle">Выявление лояльности и неудовлетворенности клиентской базы за счет анализа
            разнообразной информации из блогов, соцсетей и других источников.
        </li>
        <li style="list-style-type: circle">Привлечение и удержание целевой аудитории благодаря аналитической работе с
            большими массивами информации.
        </li>
    </ul>
    <p>Технологии используют в прогнозировании популярности продуктов, например, с помощью сервиса Google Trends и
        Яндекс. Вордстат (для России и СНГ).</p>
    <img src="img/google.jpg">
    <p>Методики big data используют все крупные компании – IBM, Google, Facebook и финансовые корпорации – VISA, Master
        Card, а также министерства разных стран мира.
        Например, в Германии сократили выдачу пособий по безработице, высчитав, что часть граждан получают их без
        оснований. Так удалось вернуть в бюджет около 15 млрд. евро</p>
    <p>Недавний скандал с Facebook из-за утечки данных пользователей говорит о том, что объемы неструктурированной
        информации растут и даже мастодонты цифровой эры не всегда могут обеспечить их полную конфиденциальность.</p>
    <img src="img/facebook.png">
    <p>Например, Master Card используют большие данные для предотвращения мошеннических операций со счетами клиентов.
        Так удается ежегодно спасти от кражи более 3 млрд. долларов США.</p>
    <p>В игровой сфере big data позволяет проанализировать поведение игроков, выявить предпочтения активной аудитории и
        на основе этого прогнозировать уровень интереса к игре.</p>
    <p>Сегодня бизнес знает о своих клиентах больше, чем мы сами знаем о себе – поэтому рекламные кампании Coca-Cola и
        других корпораций имеют оглушительный успех.</p>
</div>
<div class="comments">
    <h2>Комментарии:</h2>
    <div>
        <ul class="writers_list">
            {{#each list}}

                <li class="comment">
                    <h5 class="users_login"> {{this.login}}</h5>
                    <p class="comment_text"> {{this.text}}</p>
                </li>
                <br>
            {{else}}
                <li>Никто еще не комментировал эту статью</li>
            {{/each}}
        </ul>
    </div>

    {{#if login}}
        <form name="comment" action="/article4" method="POST">
            <p>
                <label>Оставьте свой комментарий:</label>
                <br/>
                <label>
                    <textarea cols="100" name="text" rows="50"></textarea>
                </label>
            </p>
            <p>
                <input class="comment_btn" type="submit" value="Отправить" />
            </p>
        </form>
    {{else}}
        <p><a class="item-link" href="/login">Войдите, чтобы оставить комментарий</a></p>
    {{/if}}
</div>