<div class="cards">
    <div>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="img/article1.jpg">
                    <span class="card-title">Что такое Big Data?</span>
                </div>
                <div class="card-content">
                    <p>Специалист в компьютерных науках Станислав Протасов объясняет,
                        как анализ больших данных стал главной задачей в IT</p>
                </div>
                <div class="card-action">
                    <a href="article1">Читать</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="img/article2.jpg">
                    <span class="card-title">Как зарождалась эра Big Data</span>
                </div>
                <div class="card-content">
                    <p>Перевод статьи TechCrunch об эре становления big data, которая формировалась в три этапа.</p><br>
                </div>
                <div class="card-action">
                    <a href="article2">Читать</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cards">
    <div>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="img/article3.jpg">
                    <span class="card-title">Мир big data в 8 терминах</span>
                </div>
                <div class="card-content">
                    <p>Мировой объем оцифрованной информации растет по экспоненте. Сможем ли мы совладать с ней?</p>
                </div>
                <div class="card-action">
                    <a href="article3">Читать</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="img/article4.jpg">
                    <span class="card-title">Большие данные в бизнесе и маркетинге</span>
                </div>
                <div class="card-content">
                    <p>Зачем бизнесу большие данные? И почему компании знают о нас больше, чем мы сами?</p><br>
                </div>
                <div class="card-action">
                    <a href="article4">Читать</a>
                </div>
            </div>
        </div>
    </div>
</div>