<div class="content article">
    <h2>
        Мир big data в 8 терминах
    </h2>

    <p>Мировой объем оцифрованной информации растет по экспоненте. По данным компании IBS, к 2003 году мир накопил 5
        эксабайтов данных (1 ЭБ = 1 млрд гигабайтов).
        К 2008 году этот объем вырос до 0,18 зеттабайта (1 ЗБ = 1024 эксабайта), к 2011 году — до 1,76 зеттабайта, к
        2013 году — до 4,4 зеттабайта.
        В мае 2015 года глобальное количество данных превысило 6,5 зеттабайта. В 2020 году, по прогнозам, человечество
        сформирует 40-44 зеттабайтов информации.</p>
    <p>Сможем ли мы совладать с ней? По расчетам IBS, в 2013 году только 1,5% накопленных массивов данных имело
        информационную ценность.
        К счастью, мир спасут технологии обработки больших данных. Они позволят людям объять необъятное и получить из
        этого пользу.</p>
    <p><span class="def">Big data (большие данные)</span> — огромные объемы неоднородной и быстро поступающей цифровой
        информации, которые невозможно обработать традиционными инструментами.
        В русскоязычной среде под большими данными подразумевают также технологии их обработки. В мировой практике
        большими данными называют только объект анализа.</p>
    <p>Термин big data родился в 2008 году. Редактор журнала Nature Клиффорд Линч употребил это выражение в спецвыпуске,
        посвященном взрывному росту мировых объемов информации.
        Хотя, конечно, сами большие данные существовали и ранее. По словам специалистов, к категории big data относится
        большинство потоков данных свыше 100 Гб в день.</p>
    <p><span class="def">Data lake (озеро данных)</span> — хранилище больших данных в необработанном виде.
        «Озера» хранят данные из разных источников и разных форматов. Это обходится значительно дешевле традиционных
        хранилищ, в которые помещаются только структурированные данные.
        Data lake позволяют анализировать большие данные в исходном виде. К тому же пользоваться «озерами» могут сразу
        несколько сотрудников.</p>
    <p><span class="def">Data science (наука о данных)</span> — дисциплина, изучающая проблемы анализа, обработки и
        представления информации в цифровой форме.
        Датой возникновения термина считают 1974 год, когда датский информатик Петер Наур издал книгу «A Basic Principle
        of Data Science».
        С начала 2010-х годов наука о данных перестала быть чисто академической дисциплиной. Под влиянием популяризации
        больших данных data science оказалась перспективным бизнесом.
        Тогда же профессия data scientist стала одной из самых востребованных и высокооплачиваемых в мире.
        В понятие data science входят все методы обработки оцифрованной информации и проектирования баз данных.
        Некоторые специалисты считают термин data science наиболее адекватной заменой big data
        в смысле сферы деятельности и рыночной ниши.</p>
    <p><span class="def">Data mining (добыча информации)</span> — интеллектуальный анализ данных с целью выявления
        закономерностей.
        Израильский математик Григорий Пятецкий-Шапиро ввел этот термин в 1989 году.
        Датамайнингом называют как технологии, так и процесс обнаружения в сырых данных ранее неизвестных и практически
        полезных знаний.
        Методы data mining находятся на стыке баз данных, статистики и искусственного интеллекта.</p>
    <p><span class="def">Machine learning (машинное обучение)</span> — теория и практика разработки самообучающихся
        программ, большая область искусственного интеллекта.
        Первое определение машинному обучению дал в 1959 году американский информатик Артур Самуэль. Он написал игру в
        шашки с элементами искусственного интеллекта — одну из первых самообучающихся программ в мире.</p>
    <p><span class="def">Deep learning (глубокое обучение)</span> — вид машинного обучения, создающий более сложные и
        более самостоятельные обучающиеся программы.
        При обычном машинном обучении компьютер извлекает знания через управляемый опыт: программист дает алгоритму
        примеры и вручную исправляет ошибки. А при deep learning система сама проектирует свои функции, делает
        многоуровневые вычисления и выводы об окружающем мире.
        Глубокое обучение применяют к нейронным сетям. Сферы применения этой технологии — обработка изображений,
        распознавание речи, нейромашинный перевод, вычислительная фармацевтика и другие прорывные технологии, внедряемые
        IT-гигантами вроде Google, Facebook и Baidu.
        Глубокое обучение стало одной из самых востребованных областей информационных технологий.
        Доподлинно неизвестно, кто впервые применил термин к нейронным сетям. Deep learning стало популярным в 2007
        году, когда канадский ученый Джеффри Хинтон создал алгоритмы глубокого обучения многослойных нейронных сетей.
    </p>
    <p><span class="def">Искусственная нейронная сеть</span> — система соединенных простых процессоров (искусственных
        нейронов), имитирующая нервную систему человека.
        Благодаря такой структуре нейронные сети не программируются, а обучаются. Как и настоящие нейроны, процессоры
        просто принимают сигналы и передают их своим собратьям.
        Но вся сеть способна выполнять сложные задачи, с которыми не справляются традиционные алгоритмы.</p>
    <p><span class="def">Business intelligence (бизнес-аналитика)</span> — поиск оптимальных бизнес-решений с помощью
        обработки большого объема неструктурированных данных.
        Эффективный business intelligence анализирует внешние и внутренние данные — как рыночную информацию, так и
        отчетность компании-клиента. Это дает полную картину бизнеса и позволяет принимать как операционные,
        так и стратегические решения (выбрать как цену продукта, так и приоритеты развития компании).
        Термин появился в 1958 году в статье исследователя из IBM Ханса Питера Луна. В 1996 году аналитическое агентство
        Gartner, которое специализируется на изучении IT-рынка, включило в состав business intelligence методику
        датамайнинга.</p>
</div>
<div class="comments">
    <h2>Комментарии:</h2>
    <div>
        <ul class="writers_list">
            {{#each list}}

                <li class="comment">
                    <h5 class="users_login"> {{this.login}}</h5>
                    <p class="comment_text"> {{this.text}}</p>
                </li>
                <br>
            {{else}}
                <li>Никто еще не комментировал эту статью</li>
            {{/each}}
        </ul>
    </div>

    {{#if login}}
        <form name="comment" action="/article3" method="POST">
            <p>
                <label>Оставьте свой комментарий:</label>
                <br/>
                <label>
                    <textarea cols="100" name="text" rows="50"></textarea>
                </label>
            </p>
            <p>
                <input class="comment_btn" type="submit" value="Отправить" />
            </p>
        </form>
    {{else}}
        <p><a class="item-link" href="/login">Войдите, чтобы оставить комментарий</a></p>
    {{/if}}
</div>