
<div class="content article">
    <h2>
        Что такое Big Data?
    </h2>

    <p>
        В русскоязычной среде используется как термин Big Data, так и понятие «большие данные». Термин «большие данные»
        — это калька англоязычного термина.
        Большие данные не имеют строгого определения. Нельзя провести четкую границу — это 10 терабайт или 10 мегабайт?
        Само название очень субъективно.
        Слово «большое» — это как «один, два, много» у первобытных племен.</p>
    <p>Однако есть устоявшееся мнение, что большие данные — это совокупность технологий,
        которые призваны совершать три операции. Во-первых, обрабатывать бо́льшие по сравнению со «стандартными»
        сценариями объемы данных.
        Во-вторых, уметь работать с быстро поступающими данными в очень больших объемах. То есть данных не просто много,
        а их постоянно становится все больше и больше.
        В-третьих, они должны уметь работать со структурированными и плохо структурированными данными параллельно в
        разных аспектах.
        Большие данные предполагают, что на вход алгоритмы получают поток не всегда структурированной информации и что
        из него можно извлечь больше чем одну идею.
    </p>
    <p>Типичный пример больших данных — это информация, поступающая с различных физических экспериментальных установок —
        например, с Большого адронного коллайдера,
        который производит огромное количество данных и делает это постоянно. Установка непрерывно выдает большие объемы
        данных, а ученые с их помощью решают параллельно множество задач.
    </p>
    <p> Появление больших данных в публичном пространстве было связано с тем, что эти данные затронули практически всех
        людей, а не только научное сообщество,
        где подобные задачи решаются давно. В публичную сферу технологии Big Data вышли, когда речь стала идти о вполне
        конкретном числе — числе жителей планеты.
        7 миллиардов, собирающихся в социальных сетях и других проектах, которые агрегируют людей. YouTube, Facebook,
        ВКонтакте, где количество людей измеряется миллиардами,
        а количество операций, которые они совершают одновременно, огромно. Поток данных в этом случае — это
        пользовательские действия. Например, данные того же хостинга YouTube,
        которые переливаются по сети в обе стороны. Под обработкой понимается не только интерпретация, но и возможность
        правильно обработать каждое из этих действий,
        то есть поместить его в нужное место и сделать так, чтобы эти данные каждому пользователю были доступны быстро,
        поскольку социальные сети не терпят ожидания.
    </p>
    <p> Многое из того, что касается больших данных, подходов, которые используются для их анализа, на самом деле
        существует довольно давно.
        Например, обработка изображений с камер наблюдения, когда мы говорим не об одной картинке, а о потоке данных.
        Или навигация роботов.
        Все это существует десятки лет, просто сейчас задачи по обработке данных затронули гораздо большее количество
        людей и идей.
    </p>
    <p>Многие разработчики привыкли работать со статическими объектами и мыслить категориями состояний. В больших данных
        парадигма другая. Ты должен уметь работать с непрекращающимся
        потоком данных, и это интересная задача. Она затрагивает все больше и больше областей.
    </p>
    <p>В нашей жизни все больше аппаратных средств и программ начинают генерировать большое количество данных —
        например, «интернет вещей».
    </p>
    <p>Вещи уже сейчас генерируют огромные потоки информации. Полицейская система «Поток» отправляет со всех камер
        информацию и позволяет находить машины по этим данным.
        Все больше входят в моду фитнес-браслеты, GPS-трекеры и другие вещи, обслуживающие задачи человека и бизнеса.
    </p>
    <p>Департамент информатизации Москвы набирает большое количество аналитиков данных, потому что статистики по людям
        накапливается очень много и она
        многокритериальная (то есть о каждом человеке, о каждой группе людей собрана статистика по очень большому
        количеству критериев). В этих данных надо находить закономерности и тенденции.
        Для таких задач необходимы математики с IT-образованием. Потому что в конечном итоге данные хранятся в
        структурированных СУБД, и надо уметь к ним обращаться и получать информацию.
    </p>
    <p>Раньше мы не рассматривали большие данные как задачу по той простой причине, что не было места для их хранения и
        не было сетей для их передачи.
        Когда эти возможности появились, данные тут же заполнили собой весь предоставленный им объем. Но как бы ни
        расширяли пропускную способность и способность к хранению данных,
        всегда найдутся источники, допустим, физические эксперименты, эксперименты по моделированию обтекаемости крыла,
        которые будут продуцировать информации больше, чем мы можем передать.
        По закону Мура, производительность современных параллельных вычислительных систем стабильно возрастает, растут и
        скорости сетей передачи данных.
        Однако данные нужно уметь быстро сохранять и извлекать с носителя (жесткого диска и других видов памяти), и это
        еще одна задача в обработке больших данных.
    </p>

</div>
<div class="comments">
    <h2>Комментарии:</h2>
    <div>
        <ul class="writers_list">
            {{#each list}}

                <li class="comment">
                   <h5 class="users_login"> {{this.login}}</h5>
                    <p class="comment_text"> {{this.text}}</p>
                </li>
                <br>
            {{else}}
                <li>Никто еще не комментировал эту статью</li>
            {{/each}}
        </ul>
    </div>

    {{#if login}}
        <form name="comment" action="/article1" method="POST">
            <p>
                <label>Оставьте свой комментарий:</label>
                <br/>
                <label>
                    <textarea cols="100" name="text" rows="50"></textarea>
                </label>
            </p>
            <p>
                <input class="comment_btn" type="submit" value="Отправить" />
            </p>
        </form>
    {{else}}
        <p><a class="item-link" href="/login">Войдите, чтобы оставить комментарий</a></p>
    {{/if}}
</div>