<div class="parallax-container">
    <div class="parallax"><img src="img/bigdata.jpg"></div>
</div>
<div class="section white">
    <div class="container">
        <h2 class="header">Основы Big Data</h2>
        <p class="grey-text text-darken-3 lighten-3">В современном мире Big data — социально-экономический феномен,
            который связан с тем,
            что появились новые технологические возможности для анализа огромного количества данных.
            Для простоты понимания представьте супермаркет, в котором все товары лежат не в привычном вам порядке. Хлеб
            рядом с фруктами,
            томатная паста около замороженной пиццы, жидкость для розжига напротив стеллажа с игрушками, на котором
            помимо прочих стоит авокадо,
            тофу или грибы шиитаке. Big data расставляют всё по своим местам и помогают вам найти ореховое молоко,
            узнать стоимость и срок годности,
            а еще — кто, кроме вас, покупает такое молоко и чем оно лучше молока коровьего.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="img/bigdata.jpg"></div>
</div>